.products {
  margin: 2rem auto;
  max-width: 40rem;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}

.item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
  text-decoration: none;
  color: inherit;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  display: inline-block;
}

.item a:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
}

.item img {
  width: 100%;
  height: 150px;
}

.content {
  padding: 1rem;
  display: block;
}
.item p {
  margin: 0 0 1rem 0;
}
